## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,3,Rikitea,PF,77.86,few clouds,-23.1203,-134.9692,People ThankYou
2,4,Chuy,UY,78.44,few clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
3,9,Tabou,CI,80.13,overcast clouds,4.4230,-7.3528,hotêl doufoulougou
4,12,Arraial Do Cabo,BR,78.76,heavy intensity rain,-22.9661,-42.0278,Pousada Porto Praia

In [17]:
vacation_df.loc[vacation_df['Country'] == "AR"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,104,Mar Del Plata,AR,80.62,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
131,466,Necochea,AR,82.04,light rain,-38.5473,-58.7368,dyd -mar Hotel
171,607,Punta Alta,AR,86.77,scattered clouds,-38.8759,-62.0736,Center Hotel Punta Alta
189,655,San Vicente,AR,75.45,light rain,-26.6167,-54.1333,Complejo Turístico Farelluk

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Acapulco']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Acapulco']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Playa Vicente']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Teapa']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Puerto Escondido']

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
start[0][5:7]

array([16.8634, -99.8901], dtype=object)

In [31]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
acapulco_itinerary = gmaps.directions_layer(
        start[0][5:7], end[0][5:7], waypoints=[stop1[0][5:7], stop2[0][5:7], stop3[0][5:7]],
        travel_mode='DRIVING')
fig.add_layer(acapulco_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,331,Acapulco,MX,83.75,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,634,Playa Vicente,MX,85.78,clear sky,17.8333,-95.8167,"Hotel ""Imperio"""
2,506,Teapa,MX,87.57,clear sky,17.5500,-92.9500,Hotel Quintero
3,657,Puerto Escondido,MX,85.23,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa

In [33]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=stop2[0][5:7], zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))